* {
	margin: 0;
	padding: 0;
} 

#clock {
	position: relative;
	width: 401px;
	height: 401px;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: inset 0 0 10px 10px #333, 0 0 5px 5px #eacb9c;
	background-image: url(bg.jpg);
	background-position: center center; 
	background-size: 105% 105%;
	margin: 20px auto 0;
}

svg {
	width: 401px;
	height: 401px;	
}

.arrow-seconds, 
.arrow-minutes, 
.arrow-hours {
	transform-origin: 200px 200px;
	fill: #333;
}